@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');




/* NAVBAR */


.navBar {
        background-color: white; /* El color de la nav (basicamente el fondo de los botones) */
        position: fixed; /* Dejamos la nav estancada arriba */
        top: 0%; /* La ponemos arriba del todo */
        left: 0%; /* Tambien pegada a la izquierda */
        width: 100%; /* Que ocupe todo el ancho */
        padding: 10px 5px; /* Un poquito de padding hacia arriba y abajo para que no me apriete tanto los botones */
        height: 35px;
}

.navLogo {
        height: 10px;
        margin-top: -5px;
        margin-left: 25px;
}
.navLinks {
        display: flex; /* Se activa el flexbox, que por defecto pone los botones en linea*/
        justify-content: center; /* Que los botones tengan el mismo espacio entre si */
        gap: 30px;
}

.navLink {
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        text-decoration: none; /* Le sacamos el subrayado a las palabras */
        color: #004080;
}

.navLink:hover {
        color: blue
}


/* FIN NAVBAR */


/* HERO */


.hero {
        background-image: url(img/mendoza5.jpg) ;
        background-size: cover; /* Si no metes esto la imagen se empieza a repetir */
        background-position: center center;
        height: 100vh; /* Para que ocupe mas espacio basicamente, se controlo dependiendo de cuan largo queres que sea el hero */
        margin: 0;
        text-align: center;
}
 
.heroBienvenida {

        color: white;
        font-family: 'Poppins', sans-serif; /* Es el tipo de letra que se deberia usar */
        text-align: center; /* Te centra el textito al medio de la pagina */
        font-size: 40px;
        font-weight: 300;
        padding-top: 345px;
        padding-bottom: 0%;
        margin-bottom: 10px;
}

.heroSubtitulo {
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: bold;
        margin-top: 0px;
}


/* FIN HERO */


body {
        padding-top: 0%; 
        margin: 0;
}


/* FOOTER */


.footer {
        background-color: white;
}

.footerLogo {
        text-align: center;   
        margin-top: 10px;
}

.footerContacto{
        text-align: center;
}
.footerContacto a {
        font-size: medium;
        color: #004080;
        text-decoration: none;
}

.footerContacto a:hover {
        color: blue;
}
.footerDerechos {
        text-align: center;
        font-size: small;
        color: #004080;
}


/* FIN FOOTER */


/* SITIOS */
.guia {
        padding-top: 46px;
        padding-left: 10px;
}

.guia h3 {
        color: #0138b0;
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        font-weight: lighter;
}
.guia a {
        text-decoration: none;
        color: #004080;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
}

.guia a:hover{
        color: blue;
}

.sitios {
  
        text-align: center;
        background-color: #FAF9F6;

}

.sitios h2 {
        color: #003366;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: lighter;
        text-align: center;
        text-transform: uppercase;
        scroll-margin-top: 70px;
}

.sitios p {
        padding-top: 5px;
        color: #6699cc;
        padding-left: 20%;
        padding-right: 20%;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
}


.opinionesSitios h3 {
        font-family: 'Lora', sans-serif;
        color:  #355e21;
        font-style: italic;
        font-size: 16px;
        
}

.opinionesSitios p {
        color:  #355e21;
        font-style: italic;
        font-size: 16px;
}

.imgSitios {
        width: 35%;
        height: 35%;
        border: 2px solid #0138b0;
}

.lineaGuia {
        color: blue;
        width: 30%;
        
}
.lineaSitios {
        border-color: transparent;
        background-color: blue;
        
}


.ubicacion {
        display: flex;
        justify-content: center;
        align-items: center;
        
}

.sitios h4 {
        color: #375286;
        font-family: 'Montserrat';
}



.iconoSitios {
        width: 3.2%;
        height: 3.2%;
}


.elementosGuia {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        padding-left: 6%;

}
